.header1{

    min-height: 50px;
    max-height:100px;
  }
.untitled {

  height: 650px;   

}

.main-menu a{
    font-size:14px ;

}
.contact li{
    font-size: 0.875em; 
   
}
.logo{
    height: 200px;
     top: 220px;
}
.logo1{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 270px;
    height:158px ;
}
.l1{
    font-size:1.7em ;
    color: #fff;
}
.logo-top{
    display:block;
    background: url(./images-lomb/logo_b1.png) no-repeat;
    width: 100px;
    height:105px ;
}
.logo>div>span{
    font-size:1.6em ;
    display: block;
    right: 10%;
    position: relative;
    color: #fff;
}
.offer1{
    bottom:105px ;
  
}
.wrapper{
    margin-top: -50px;
}
iframe{

    height: 540px;
}
