@font-face {
	font-family:'AGOpus';
	src:url('/fonts/AGOpus-Bold.eot');
	src:url('/fonts/AGOpus-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/AGOpus-Bold.woff') format('woff'),
    url('/fonts/AGOpus-Bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}
html,
body{
    min-width:600px;
    height:100%; 
    min-width:1000px;
    max-width:100%;
    margin:0px;
    padding:0px;
    font-family:'PT Sans', sans-serif;
    font-size:25px;
}
body{
    overflow-x:hidden !important;
}
.body{
    overflow-y:hidden !important;
}
.popup{
    z-index: 10000;
    position: absolute;
    background: #000000;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    top: 200px;
}
a{
    text-decoration:none;
}
a:active{
    color:#a55e69 ;
}

.header1{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    position:relative;
    min-width:500px;
    max-width:100%;
    height:90px;
    background: rgba(150, 0, 24, 0.57);
    z-index:2;
}
.mobil-menu [type="checkbox"]{
     display:none;
}
.header1>div{
    margin-left:auto;
    margin-right: auto;
    position:relative;
    width:1920px;
}
.main-menu{
    display:block;
    position:absolute;
    margin-left:55px;
    list-style:none;
    z-index:20;
    margin-top:30px;
}
.main-menu>li{
    position:relative;
    display:inline-block;
    margin-right:65px;
}
.main-menu a{
    color:aliceblue;
    font-size:1.05em;
}
.main-menu a:hover{
    border-bottom:0.13em solid #ffffff;
}
.contact{
    height:50px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    position:absolute;
    right:95px;
    width:490px;
    margin-top:30px;
}
.contact1>.contact2{
    position:relative;
    display:inline;
    right:0px;
    width:195px;
    text-align:right;
}
.contact1{
    width:230px;
}
.contact li{
    font-size:1.057em;
    color:#ffffff;
    list-style:none;
}
.mail{
    display:block;
    position:relative;
    float:left;
    top:5px;
    left:0px;
    width:32px;
    height:21px;
}
.phone{
    display:block;
    position:relative;
    float:left;
    left:0px;
    width:20px;
    height:40px;
}
.bl1{
    width:100%;
    height:750px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
}
.logo{
    display:flex;
    position:absolute;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    top:300px;
    z-index:1;
    min-width:200px;
    width:950px;
    height:270px;
    background:rgba(150, 0, 24, 0.57);
}
.logo1{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:400px;
    height:158px;
}
.l1{
    font-family:'AGOpus';
    font-weight:bold;
    font-size:1.75em;
    color:#fff;
}
.logo-top{
    width:151px;
    height:158px;
}

.line122{
    display:block;
    position:relative;
    right:60px;
    background:url(./images-lomb/line11.png) no-repeat;
    width:2px;
    height:125px;
}
.logo>div>span{
    font-size:1.6em;
    display:block;
    position:relative;
    right:100px;
    color:#fff;
}
.offer{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-content:center;
    
}
.offer1{
    display:block;
    position:relative;
    bottom:58px;
    z-index:16;
    background:rgba(150, 0, 24, 0.6);
    min-width:300px;
    width:950px;
    height:38px;
    padding:10px 0 20px;
    
}
.back_to_top {
  position: fixed;
  bottom: 80px;
  left: 40px;
  z-index: 9999;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 30px;
  background: rgb(255, 255, 255);
  color: #444;
  cursor: pointer;
  border-radius:50px;
    border: 3px solid #960018;
  display: none;
}
.back_to_top>img{
    position: relative;
    bottom: px;
}
.back_to_top:active, .back_to_top:focus { outline: none; }
.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  display: block;
}
.wrapper{
    margin-top:5px;
    min-width:1000px;
    max-width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.wrrrra{
    max-width:1724px;
    display:flex;
    flex-direction:column;   
    justify-content:space-between;
    align-items:center;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform:translate(0, 0);
        transform:translate(0, 0);
    }
    100% {
        -webkit-transform:translate(-100%, 0);
        transform:translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform:translate(0, 0);
        transform:translate(0, 0);
    }
    100% {
        -moz-transform:translate(-100%, 0);
        transform:translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform:translate(0, 0);
    }
    100% {
        transform:translate(-100%, 0)
    }
}
.marquee {
    display:block;
    width:100%;
    white-space:nowrap;
    overflow:hidden;
}

.marquee span {
    color:#ffffff;
    display:inline-block;
    font-size:150%;
    padding-left:100%;
    -webkit-animation:scroll 13s infinite linear;
    -moz-animation:scroll 13s infinite linear;
    animation:scroll 13s infinite linear;
}
.tu{
    font-size:1.6em;
    display:block;
    margin-left:auto;
    margin-right: auto;  
}

.wrov23{
    font-size:1.26em;
    font-weight:500;
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    min-width:300px; 
    width:1200px;
    text-align:center;
    height:auto;
    margin-bottom:0;
    margin-top:30px;
}
.guarantee{
    min-width:200px;
    max-width:1724px ;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding-bottom:15px;
    text-align:center;
}
.condition{
    height:auto;
    min-width:500px;
    max-width:100%;
    display:flex;
    margin-top:50px;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    flex-wrap:wrap;
    padding:0;
}

.stri1{
    text-align:left;
    width:329px;
    height:auto;
    float: right;
    padding-top:0px;
    margin-top:0;
}
@media screen and (min-width:1725px) and (max-width:1737px){
.string:nth-child(1),
.string:nth-child(5){
    margin-left: 0px;
    margin-right: 10px;
}
.string:nth-child(2),
.string:nth-child(3),
.string:nth-child(6),
.string:nth-child(7){
    margin-left: 10px;
    margin-right: 10px;
}
.string:nth-child(4),
.string:nth-child(8){
    margin-left: 10px;
    margin-right: 0px;
}
} 
.string{
    display:block;
    width:400px;
    height:auto;
    margin:20px;
}
.string img{
    margin-top:10px;
    transition-duration: 1.8s
}
.string img:hover{
    transform: rotateY(360deg)
}
.string:nth-child(1),
.string:nth-child(5){
    margin-left:0;
}
.string:nth-child(4),
.string:nth-child(8){
    margin-right:0;
}
.string1{
    width:57px;
    height:auto;
    z-index:5;
}
.string2{
    width:57px;
    height:auto;
    z-index:5;
}
.string3{
    width:71px;
    height:76px;
    z-index:5;
}
.string4{
    width:64px;
    height:63px;
    z-index:5;
}
.string5{
    width:71px;
    height:67px;
    z-index:5;
}
.string6{
    width:55px;
    height:60px;
    z-index:5;
}
.string7{
    width:57px;
    height:69px;
    z-index:5;
}
.string8{
    width:65px;
    height:50px;
    z-index:5;
}
.blocshadow{
    padding:15px 55px;
    position:relative;
    right:50px;
}
.blocshadow:hover{
    display:block;
    position:relative;
    right:50px;
    background:no-repeat #ffffff;
    box-shadow:0 0  10px rgba(0,0,0,0.5);
    padding:15px 55px;
    border-radius:7px;
    box-sizing:border-box;
    z-index:7;
}
.blocshadow2{
    padding:15px 55px 15px 55px;
    position:relative;
    right:5px;
}
.blocshadow2:hover{
    display:block;
    position:relative;
    right:5px;
    background:#ffffff;
    box-shadow: 0 0  10px rgba(0,0,0,0.5);
    padding:15px 55px 15px 55px;
    border-radius:7px;
    box-sizing:border-box;
}
.blocshadow3{
    padding:15px 40px;
    position:relative;
    left:25px;
}
.blocshadow3:hover{
    box-sizing:border-box;
    display:block;
    position:relative;
    left:25px;
    background:#ffffff;
    box-shadow:0 0  10px rgba(0,0,0,0.5);
    padding:15px 40px;
    border-radius:7px;

}
.check{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-width:900px;
    max-width:100%;
    margin-bottom:100px;
}
.check p{
    text-align:center;
    margin-top:0;
}
.check1{
    font-size:1.4em;
}
.check2{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:600px;
    height:170px;
    margin:0 30px;
}
.check1-1{
    width:75px;
    height:78px;
    margin-left:auto;
    overflow:hidden;
    margin-right:auto;
}
.check1-1>img{
    position:relative;
    right:82px;
}
.check1-1>img:hover{
    right:3px;
}
.check1-2{
    display:block;
    overflow: hidden;
    position:relative;
    width:75px;
    height:78px;
    margin-left:auto;
}
.check1-2>img{
    position:relative;
    right:88px;
    bottom:75px;
}
.check1-2>img:hover{
    right:9px;
}
.check1-3{
    display:block;
    position:relative;
    overflow:hidden;
    width:72px;
    height:68px;
    margin-left:auto;
    margin-right:auto;
}
.check1-3>img{
    position:relative;
    bottom:165px;
    right:85px;
}
.check1-3>img:hover{
    right:6px;
}
.check2-1{
    margin-left:auto;
    margin-right:auto;
    font-size:1.2em;
}
.check2-2{
    margin-left:auto;
    margin-right:auto;
    font-size:1.2em
}
.check2-3{
    margin-left:auto;
    margin-right:auto;
    font-size:1.2em
}
.check3-1{
   text-align:center;
}
.items-flex{
    display:flex;
    flex-direction:column;
    margin-bottom:90px;
}
.items{
    display:flex;
    max-width:100%;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    padding:0;
    margin-top:0;
}
h1{
    font-size:36px;
    font-weight:400;
    text-align:center;
    margin-bottom:0;
    margin-top:0;
    padding-bottom:0px;
}
hr{
    margin-top:5px;
    margin-bottom:0;
}
.item{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    float:left;
    width:260px;
    height:265px;
    margin-top:30px;
    margin-bottom:15px;
    margin-left:15px;
    margin-right:15px;
    border:1px solid #737373;
}
@media screen and (max-width:1741px) and (min-width:1724px){
    .item{
        width:255px;
        margin:30px 15px 15px;
    }}
.item:nth-child(1){
    margin-left:0;
}
.item:nth-child(6){
    margin-right:0;
}
.item:hover{
    box-shadow: 0 0  10px rgba(0,0,0,0.5);
}
.textbottom{ 
    padding-left:20px;
    border-top:1px solid #737373;
}
.imag, .imag1, .imag2,.imag4{
    width:auto;
    margin:auto;
}
.imag3,.imag5{
     width:auto;
    height: 65%;
    margin:auto;
}

.red{
    color:#ff0000;
    font-size:19px;
    font-weight:600;
}
.tb1{
    font-size:17px;
    font-weight:600;
}
.lit1{
    font-size:15px;
    font-weight:600;
}
.WeAre{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.betton{
    margin-left:auto;
    margin-right:auto;
    background:#920017;
    padding:9px 60px;
    color:#fff;
    margin-top:15px;
    margin-bottom: 15px
}
.line4{
    position:relative;
    right:69px;
    width:442px;
}
.bott{
    width:100%;
    margin-top:30px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    height:auto;
}
.bott1{
    padding-left: 20px
}
.bott1 li{
    height:80px;
    list-style-type:none;
    margin:20px 0;
    display: flex;
    flex-direction: row;
    align-items: center
}
.bott-text>ul>li>img{
    width: 57px;
    height:57px;
    margin-right: 15px;
    flex-shrink: 0;  
}
.bott-text>ul>li>p{
    width: 550px; 
}
.bott-text{
    float:left;  
    margin-top:40px;
    width:35%;
}
.zalog{
    font-size:30px;
    text-align:left;
    padding-left:10px;
}
.cart>.h2,
.cart>hr{
    display:none; 
}
.cart{
    float:right;
    width:65%;
}
.mymap{
    min-width:240px;
    width:100%;
    height:660px;
}
.take{
    float:left;
}
.footer{
    display:flex;
    justify-content:space-between;
    align-content:center;
    width:100%;
    height:70px;
    background:#960018;
    color:#ffffff;
}
.footer-1724{
    display:flex;
    justify-content:space-between;
    align-content:center;
    width:1724px;
    margin-left:auto;
    margin-right:auto;
}
.foot>p{
    text-align:left;
    position:relative;
    font-size:0.9em;
    bottom:40px;
    left:200px;
    margin:0 20px 0 0;
}
.foot1{
    position:relative;
    top:6px;
}
.foot2{
    position: relative;
    height:30px;
    top:19px
}
.foot2>a{
    font-size:0.85em; 
    color: #fff;
}
.foot2>a>span{
    font-weight: 700
}
@media only screen and (max-width:1000px){
body{
    overflow-x:auto !important;
}}   