*{
    font-size: 25px
}
.header1>div{
    margin-left:0;
    margin-right:0;
    position:relative;
    max-width: 100%;
}
p,li{
    font-size: 17px;
}
.main-menu{
    margin-left:-15px ;
}
.main-menu>li{
    margin-right:45px;
     font-size: 25px;
}
.check1,
.tu,h1{
    font-size: 30px
}
.wrov23{
    font-size: 25px;
}
.contact{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    position:absolute;
    right:22px;
    width:480px;
    margin-top:30px;
}
.items{
    display:flex;
    width:1230px;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
}
.item{

    margin-left:25px;
    margin-right:25px;

}
.condition{
    width:1230px;
    margin-left:auto;
    margin-right:auto;
    height: auto;
}
.string{
    width: 300px
}
.stri1{
    width: 220px;
}
.string:nth-child(4){
    margin-left:0;
    margin-right:20px;
}
.string:nth-child(5){
    margin-left:20px;
}
.string:nth-child(3),
.string:nth-child(6){
    margin-right:0;
}
.item:nth-child(6){
    margin-right:25px;
}
.item:nth-child(4){
    margin-right:0px;
}
.bott{
    width:1230px;
    margin-top:30px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    height:auto;
}
.bott-text{
    float:left;  
    width:40%;
}
.zalog{
    margin-left:0;
}
.cart{
    float:right;
    width:55%;
    height:600px;
}
.mymap{
    min-width:240px;
    width:100%;
    height:620px;
}
.bott{
    margin-bottom:-20px;
}
.line4{
    position:relative;
    right:15px;
    width:442px;
}

.bott1 li{
    height:75px;
    list-style-type:none;
    margin:30px 0;
}
.footer-1724{
    width:1230px;
}