@font-face {
	font-family: 'AGOpus';
	src: url('/fonts/AGOpus-Bold.eot');
	src: url('/fonts/AGOpus-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/AGOpus-Bold.woff') format('woff'),
		url('/fonts/AGOpus-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
html,
body{
    min-width: 600px;
    height:100%; 
    min-width: 1000px;
    max-width:100%;
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
    font-size:1.2em ;
   
}
body{
    overflow-x:hidden;
}
@media screen and (max-device-width:1000px){
   body{
    overflow-x:hidden;
} 
}
.header1{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    position: relative;
    min-width:500px;
    max-width:100%;
    height: 90px;
    background: rgba(150, 0, 24, 0.57);
    z-index: 2;
}
.header1>div{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1920px;
}
.main-menu{
    display: block;
    position: absolute;
    margin-left:45px ;
    list-style: none;
    z-index: 20;
    margin-top:30px ;
}
.main-menu>div{
    position: relative;
    display:inline-block;
    
    margin-right: 65px;
    
}
.main-menu a{
    color: aliceblue;
    text-decoration: none;
    font-size:1.05em ;
}
.main-menu a:hover{
    border-bottom:0.13em solid #ffffff;
}
.contact{
    height:50px ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
    position: absolute;
    right:70px ;
    width:490px ;
    margin-top:30px;
}
.contact1>.contact2{
    position: relative;
    display:inline-block;
    right: 0px;
    width: 200px;
}
.contact>.contact1{
    display: inline-block;
    width: 245px;
}
.contact li{
    font-size: 1.057em;
    color: #ffffff;
    list-style: none;
}
.mail{
    display: block;
    position: relative;
    right:10px ;
    float: left;
    top:5px ;
    width:32px;
    height:21px;
    background:url(./images-lomb/Mail.png) no-repeat ;
}
.phone{
    display: block;
    position: relative;
    bottom:5px ;
    float: left;
    width:24px ;
    height:40px ;
    background: url(./images-lomb/Phone-1.png) no-repeat;
}

.bl1{
    width:100%;
    height:750px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.logo{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    top: 300px;
    z-index:16 ;
    min-width: 200px;
    width:940px;
 
    height:270px ;
    background: rgba(150, 0, 24, 0.57);
}
.logo1{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 400px;
    height:158px ;
}
.l1{
    font-family: 'AGOpus';
    font-weight:bold ;
    font-size:1.75em ;
    color: #fff;
}
.logo-top{
    display:block;
    background: url(./images-lomb/logo_b.png) no-repeat;
    width: 151px;
    height:158px ;
}

.line122{
    display: block;
    position:relative;
   
    right:60px ;
    background: url(./images-lomb/line11.png) no-repeat;
    width:2px ;
    height: 125px;
}
.logo>div>span{
    font-size:1.6em ;
    display: block;
    position: relative;
    right:100px ;
    color: #fff;
}
.offer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    
}
.offer1{
    display: block;
    position: relative;
    bottom:45px ;
    z-index: 16;
    background: rgba(150, 0, 24, 0.6);
    min-width: 300px;
    width:940px;
    height: 30px;
    padding:5px 0 20px;
    
}
.wrapper{
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
   
}
.wrrrra{
    width: 1724px;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}
.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee span {
    color:#ffffff ;
    display: inline-block;
    font-size:150% ;
    padding-left: 100%;
    -webkit-animation: scroll 13s infinite linear;
    -moz-animation: scroll 13s infinite linear;
    animation: scroll 13s infinite linear;
}
.tu{
    font-size:1.6em ;
    display: block;
    margin-left:auto;
    margin-right: auto;


    
    
}
.wrov23>p{
    font-size:1.26em ;
    font-weight:500;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width:300px;
    width:1090px;
    text-align: center;

}
.guarantee{
    min-width: 200px;
    width:1725px ;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    margin-left: 30px;
    text-align: center;
    
}
.condition{
    height:240px;
    min-width:500px;
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin-bottom:100px ;
    
}

.stri1{
    display:block;
    position: relative;
    width:300px;
    height: 100px;
    float: right;
}
.string{
    display: block;
    width: 390px;
    height: 125px;
    margin:15px 10px;
}
.string1{
    display: inline-block;
    position: relative;
    width: 57px;
    height: 69px;
    background: url(./images-lomb/icons-1.png) no-repeat;
    z-index:5 ;
}
.string2{
    display: inline-block;
    position: relative;
    width: 57px;
    height: 69px;
    background: url(./images-lomb/icons-2.png) no-repeat;
    z-index:5 ;
}
.string3{
    display: inline-block;
    position: relative;
    width: 71px;
    height: 76px;
    background: url(./images-lomb/icons-3.png) no-repeat;
    z-index:5 ;
}
.string4{
    display: inline-block;
    position: relative;
    width: 64px;
    height: 63px;
    background: url(./images-lomb/icons-4.png) no-repeat;
    z-index:5 ;
}
.string5{
    display: inline-block;
    position: relative;
    width: 71px;
    height: 67px;
    background: url(./images-lomb/icons-5.png) no-repeat;
    z-index:5 ;
}
.string6{
    display: inline-block;
    position: relative;
    width: 55px;
    height: 60px;
    background: url(./images-lomb/icons-6.png) no-repeat;
    z-index:5 ;
}
.string7{
    display: inline-block;
    position: relative;
    width: 57px;
    height: 69px;
    background: url(./images-lomb/icons-7.png) no-repeat;
    z-index:5 ;
}
.string8{
    display: inline-block;
    position: relative;
    width: 65px;
    height: 50px;
    background: url(./images-lomb/icons-8.png) no-repeat;
    z-index:5 ;
}
.blocshadow{
padding:15px 55px;
    position:relative;
    right: 50px;
}
.blocshadow:hover{
    display: block;
    position:relative;
   right: 50px;
    background:  no-repeat #ffffff; /* Цвет фона */
    box-shadow: 0 0  10px rgba(0,0,0,0.5); /* Параметры тени */
    padding:15px 55px;
    border-radius: 7px;
    box-sizing:content-box;
    z-index: 7;
    
    
}
.blocshadow2{
    padding: 15px 45px 15px 65px;
    position:relative;
    right: 5px;
}
.blocshadow2:hover{
    display: block;
    position:relative;
    right: 5px;
    background: #ffffff; /* Цвет фона */
    box-shadow: 0 0  10px rgba(0,0,0,0.5); /* Параметры тени */
    padding:  15px 45px 15px 65px;
    border-radius: 7px;
    box-sizing: content-box;
    
}
.blocshadow3{
    padding:15px 40px ;
    position: relative;
    left: 25px;
}
.blocshadow3:hover{
    box-sizing: border-box;
    display: block;
    position: relative;
    left: 25px;
    background: #ffffff; /* Цвет фона */
    box-shadow: 0 0  10px rgba(0,0,0,0.5); /* Параметры тени */
    padding:15px 40px ;
    border-radius: 7px;
    box-sizing: content-box;
    
}
.check{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    min-width: 900px;
    width: 100%;
    margin-bottom: 100px;
    
}
.check1{
    font-size:1.4em ;
}
.check2{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width: 600px;
    height:200px;
    margin:0 30px;
    
}
.check1-1{
    display: block;
    position: relative;
    background: url(./images-lomb/icons-10.png) no-repeat;
    width: 72px;
    height:68px;
        margin-left: auto;
    margin-right: auto;
}
.check1-1:hover{
    display: block;
    position: relative;
    background: url(./images-lomb/icon_for.png) no-repeat;
    width: 72px;
    height:68px;
}

.check1-2{
display: block;
    position: relative;
    background: url(./images-lomb/icons-9.png) no-repeat;
    width: 72px;
    height:68px;
        margin-left: auto;
    margin-right: auto;
}
.check1-2:hover{
display: block;
    position: relative;
    background: url(./images-lomb/icon_for2.png) no-repeat;
    width: 72px;
    height:68px;
}
.line2{
    position: relative;
    right: 10px;
}
.check1-3{
 display: block;
    position: relative;
    background: url(./images-lomb/icons-11.png) no-repeat;
    width: 72px;
    height:68px;
    margin-left: auto;
    margin-right: auto;

}
.check1-3:hover{
display: block;
    position: relative;
    background: url(./images-lomb/icons-12.png) no-repeat;
    width: 72px;
    height:68px;
}
.check2-1{margin-left: auto;
    margin-right: auto;
    font-size: 1.2em}
.check2-2{margin-left: auto;
    margin-right: auto;
    font-size: 1.2em}
.check2-3{
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em
}
.check3-1{
   text-align: center;

}
.items{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.h1{
    font-size: 1.6em;

    margin-left: auto;
    margin-right: auto;
    
}
.h2{
    font-size: 1.6em;

    margin-left: auto;
    margin-right: auto;
    
}


.item{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    float: left;
    width:255px;
    height:255px ;
    padding: 5px;
    margin: 30px 10px 15px;
    border: 1px solid #737373;
}
.item:hover{
    box-shadow: 0 0  10px rgba(0,0,0,0.5);
}
.textbottom{
    border-top: 1px solid #737373;
}
.imag{
    display: block;
    width:150px;
 margin: auto;
}
.imag1{
    width:145px;
    margin:0 auto;
}
.imag2{
    width:170px;
    margin: auto;
}
.imag3{
    width:140px;
    margin: auto;
}
.imag4{
    width:130px;
    margin:auto;
}
.imag5{
    width:150px;
    margin:auto;
}
.red{
    color: #ff0000;
    font-size: 0.7em;
    font-weight: 600;
    
}
.tb1{
    font-size: 0.7em;
    font-weight: 600;
}
.lit1{
    font-size: 0.5em;
        font-weight: 600;
}
.betton{
    
    background: #920017;
    padding: 11px 60px;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 50px;
}
.line4{
    position: relative;
    right:25px ;
}
.bott{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    height:auto;
}
.bott1 li{
    height:62px ;
    list-style-type: none;
    margin: 20px 0;
}
.bott-text{
    margin-top:20px ;
    float: left;  
    width: 35%;
    padding-top: 50px;
}
.bott-text>span{
    font-size: 1.9em;
}
.cart{
    float: right;
    width: 65%;
}
.line3{
    margin-left: 80px;
}
iframe{
    min-width:240px ;
    width: 100%;
    height:500px;
}

.botti{
    background: url(images-lomb/icons-1-4.png) no-repeat;
    width: 52px;
    height: 54px;
    float: left;
    margin-right: 25px;
}
.botti2{
    background: url(images-lomb/icons-1-5.png) no-repeat;
    width: 52px;
    height: 53px;
    float: left;
    margin-right: 25px;
}.botti3{
    background: url(images-lomb/icons-1-3.png) no-repeat;
    width: 52px;
    height: 53px;
    float: left;
    margin-right: 25px;
}
.botti4{
    background: url(images-lomb/icons-1-2.png) no-repeat;
    width: 57px;
    height: 53px;
    float: left;
    margin-right: 20px;
}
.botti5{
    background: url(images-lomb/icons-1-1.png) no-repeat;
    width: 52px;
    height: 53px;
    float: left;
    margin-right: 25px;
}
.footer{
    display: flex;
    justify-content:space-between;
    align-content: center;
    width: 100%;
    height: 70px;
    background: #960018;
    color: #ffffff;
}
.footer-1724{
    display: flex;
    justify-content:space-between;
    align-content: center;
    width: 1724px;
    margin-left: auto;
    margin-right: auto;
}
.foot{
    position: relative;
    left:  10% ;    
}
.foot>span{
    text-align: left;
    position: relative;
    font-size:0.9em ;
    bottom: 23px;
    left: 20px;
    margin:0 20px 0 0 ;
}
.foot1{
    position: relative;
    top:6px;
    margin: 0 10px;
}
.foot2{
    font-size:0.85em ;
    height: 30px;
    position: relative;
    right:5% ;
    top:20px ;
}
 