.header1>div{
    margin-left:0;
    margin-right:0;
    position: relative;
    max-width: 100%;
}
.main-menu{
    margin-left:-15px ;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
    position: absolute;
    right:22px ;
    width:480px ;
    margin-top:30px;
}
.items{
    display:flex;
    width:1200px;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}
.condition{
    width:1430px;
    margin-left: auto;
    margin-right: auto;
    height: 420px;
}
.string:nth-child(4){
    margin-left: 0;
    margin-right: 20px;
}
.string:nth-child(5){
    margin-left: 20px;
}
.string:nth-child(3),
.string:nth-child(6){
    margin-right: 0;
}
.item:nth-child(6){
    margin-right: 15px;
}
.item:nth-child(4){
    margin-right:0px;
}
.bott{
    width:1230px;
    margin-top: 30px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    height:auto;
}
.bott-text{
    float: left;  
    width: 40%;
}
.zalog{
    margin-left:0;
}
.cart{
    float: right;
    width: 55%;
    height:600px ;
}
iframe{
    min-width:240px ;
    width: 100%;
    height:620px;
}
.bott{
    margin-bottom:  -20px ;
}
.bott1 li{
    height:75px ;
    list-style-type: none;
    margin: 30px 0;
}
.line4{
    position: relative;
    right:0px ;
    width:100% ;
}

.footer-1724{
    width: 1230px;
}